version: '3.8'

services:
  chargeghar:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
