.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    background-color: #111;
    border-radius: 12px;
    padding: 1.5rem;
    width: 400px;
    color: #fff;
    box-shadow: 0 0 15px rgba(130, 234, 128, 0.2);
    animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #222;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.header h3 {
    font-size: 1.1rem;
    color: #82ea80;
}

.closeBtn {
    background: none;
    border: none;
    color: #aaa;
    font-size: 1.4rem;
    cursor: pointer;
}

.closeBtn:hover {
    color: #fff;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content input,
.content select {
    background: #0b0b0b;
    border: 1px solid #333;
    border-radius: 6px;
    padding: 0.5rem;
    color: #fff;
}

.modalForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.inputGroup label {
    color: #fff;
    font-size: 0.95rem;
    margin-bottom: 4px;
}

.inputGroup input {
    background: #0b0b0b;
    border: 1px solid #333;
    border-radius: 6px;
    padding: 0.6rem;
    color: #fff;
}

.saveBtn {
    background-color: #47b216;
    border: none;
    border-radius: 8px;
    color: #fff;
    padding: 0.7rem;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    transition: background 0.2s ease;
}

.saveBtn:hover {
    background-color: #56d61f;
}